<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Modal Receh - Register</title>
</head>

<body>

    <%- include('partials/loading.ejs') %>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!--<span class="text-danger ms-1">*</span>**** Logo Start<span class="text-danger ms-1">*</span>**** -->
                        <a href="/" class="logo">
                            <img src="assets/images/modal-receh.png" alt="" style="width: 120px;height: 60px;">
                        </a>
                        <!--<span class="text-danger ms-1">*</span>**** Logo End<span class="text-danger ms-1">*</span>**** -->
                        <!--<span class="text-danger ms-1">*</span>**** Menu Start<span class="text-danger ms-1">*</span>**** -->
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/register" class="active">Sign Up</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>   
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!--<span class="text-danger ms-1">*</span>**** Menu End<span class="text-danger ms-1">*</span>**** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="item-details-page" style="padding: 140px 0px 410px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h2><em>Sign Up</em></h2>
                    </div>
                </div>
                <% if (errors) { %>
                    <div class="col-lg-4 offset-lg-4 alert alert-danger alert-dismissible fade show" role="alert">
                        <strong class="text-center">Error !</strong>
                        <ul style="padding-left: 20px;">
                            <% errors.split(",").forEach(el => { %>
                                <li style="list-style: disc !important;"><%= el %></li>
                            <% }) %>
                        </ul>
                        <a href="javascript:;" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
                    </div>
                <% } %>
                <div class="col-lg-4 offset-lg-4">
                    <form id="contact" action="/register" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 for="username" class="text-center m-2">Username <span class="text-danger">*</span></h4>
                                <input type="text" name="username" id="username">
                            </div>
                            <div class="col-lg-12">
                                <h4 for="email" class="text-center m-2">Email <span class="text-danger">*</span></h4>
                                <input type="text" name="email" id="email">
                            </div>
                            <div class="col-lg-12">
                                <h4 for="password" class="text-center m-2">Password <span class="text-danger">*</span></h4>
                                <input type="password" name="password">
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="orange-button">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>

</body>
</html>